body{
  /*background: linear-gradient(to bottom right,   #3b64ff ,  #be3bff );*/
  background: linear-gradient(to right, #3498db, #2ecc71);
  margin: 0;
  height: 100vh;
  display: grid;
}
main{
  display:grid;
  align-items:center;
  justify-content:center;
}
#logearse{
  display:grid;
  align-items:center;
  justify-content:center;
  padding:20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: white;
  width:300px;
}
main section{
 margin-bottom:20px 
}
main h1{
  text-align:center;
}
section article{
  margin-bottom:10px;
}
section input{
margin-bottom:20px;
}
section article + input{
  padding:5pt 15pt;
  border:none;
  border-radius:5px;
  transition:0.5s;
   border:2px solid black;
}
section article + input:focus{
outline:none;
transition:0.5s;
}
input:focus + article{
  color:red;
}
section input[type="submit"]{
  padding:5pt 15pt;
  border:none;
  border-radius:5px;
  width:100%;
  transition: 0.5s;
}
section input[type="submit"]:hover{
  background-color: red;
  transition: 0.5s;
}